############################ APPLICATION ############################
.env
/venv
/arxiv_vdb
/pdfs
/output
/notebooks

############################# TERRAFORM ############################
/terraform

############################# MISC ############################
/.gitignore
/README.md
docker-compose.yml
Dockerfile
.mypy_cache
.vscode
__pycache__