absl-py
aiofiles
aiohttp
aiosignal
albumentations
alembic
amadeus
annotated-types
antlr4-python3-runtime
anyio
arxiv
asgiref
asttokens
async-timeout
asyncer
attrs
backcall
backoff
bcrypt
beautifulsoup4
bidict
black
blinker
blis
bs4
build
cachetools
catalogue
certifi
cffi
chainlit
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
cloudpathlib
cmaes
colorama
coloredlogs
colorlog
comm
confection
contourpy
courlan
cryptography
cycler
cymem
dataclasses-json
datasets
dateparser
debugpy
decorator
Deprecated
dill
distlib
distro
effdet
emoji
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints
et-xmlfile
exceptiongroup
executing
fastapi
fastapi-socketio
feedparser
filelock
filetype
Flask
Flask-Login
Flask-SQLAlchemy
flatbuffers
fonttools
frozenlist
fsspec
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
greenlet
grobid-tei-xml
grpcio
h11
htmldate
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
idna
imageio
imbalanced-learn
imblearn
importlib-metadata
importlib-resources
iopath
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonpatch
jsonpath-python
jsonpointer
jupyter_client
jupyter_core
jusText
kiwisolver
kubernetes
langchain
langchain-community
langchain-core
langchain-openai
langcodes
langdetect
langsmith
layoutparser
Lazify
lazy_loader
Levenshtein
lightning
lightning-utilities
literalai
llama-index
lxml
Mako
Markdown
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mmh3
monotonic
mpmath
msg-parser
multidict
multiprocess
munch
murmurhash
mypy-extensions
nest-asyncio
networkx
nltk
nougat-ocr
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
olefile
omegaconf
onnx
onnxruntime
openai
opencv-python
opencv-python-headless
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
optuna
orjson
overrides
packaging
pandas
parso
pathspec
pdf2image
pdfminer.six
pdfplumber
pexpect
pickleshare
pikepdf
pillow
platformdirs
portalocker
posthog
preshed
prompt-toolkit
protobuf
psutil
ptyprocess
pulsar-client
pure-eval
pyarrow
pyarrow-hotfix
pyasn1
pyasn1-modules
pycocotools
pycparser
pycpdflib
pydantic
pydantic_core
pyenv-win
pygame
Pygments
PyJWT
PyMuPDF
PyMuPDFb
pypandoc
pyparsing
pypdf
PyPDF2
pypdfium2
pyphen
PyPika
pyproject_hooks
pytesseract
python-dateutil
python-docx
python-dotenv
python-engineio
python-graphql-client
python-iso639
python-Levenshtein
python-magic
python-multipart
python-pptx
python-socketio
pytorch-lightning
pytz
pytz-deprecation-shim
PyYAML
pyzmq
qudida
rapidfuzz
regex
requests
requests-oauthlib
rsa
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-image
scikit-learn
scipdf @ git+https://github.com/titipata/scipdf_parser@15b197a25a57c22fcd15ab49c0119c3d0a4a9720
scipy
sconf
sentencepiece
sgmllib3k
simple-websocket
six
smart-open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
starlette
sympy
syncer
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
TexSoup
textstat
thinc
threadpoolctl
tifffile
tiktoken
timm
tld
tokenizers
tomli
torch
torch-tb-profiler
torchmetrics
torchvision
tornado
tqdm
trafilatura
traitlets
transformers
triton
typer
typing-inspect
typing_extensions
tzdata
tzlocal
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
uptrace
uritemplate
urllib3
uvicorn
uvloop
virtualenv
warcio
wasabi
watchfiles
wcwidth
weasel
websocket-client
websockets
Werkzeug
wrapt
wsproto
xlrd
XlsxWriter
xxhash
yarl
zipp
